Repository ShayGoldman/acovado.club: changes, and which lint-staged commands are due for each by the changed paths.
All: bun lint, bun format

feat(youtube-worker): scaffold M3-1 — env.ts, types.ts, cron.ts
  apps/youtube-worker/package.json
  apps/youtube-worker/src/cron.ts
  apps/youtube-worker/src/env.ts
  apps/youtube-worker/src/index.ts
  apps/youtube-worker/src/types.ts
  apps/youtube-worker/tsconfig.json
  bun.lockb
Due: bun lint, bun format

feat(youtube-worker): implement M3-3 youtube-client and poller with checkpoint logic
  apps/youtube-worker/src/index.ts
  apps/youtube-worker/src/poller.test.ts
  apps/youtube-worker/src/poller.ts
  apps/youtube-worker/src/types.ts
  apps/youtube-worker/src/youtube-client.ts
Due: bun lint, bun format

feat(M3-4): wire youtube-worker + scaffold signal-processor with Reddit+YouTube handlers
  apps/signal-processor/package.json
  apps/signal-processor/src/env.ts
  apps/signal-processor/src/handler.ts
  apps/signal-processor/src/index.ts
  apps/signal-processor/src/types.ts
  apps/signal-processor/src/youtube-handler.ts
  apps/signal-processor/src/youtube-types.ts
  apps/signal-processor/tsconfig.json
  apps/youtube-worker/src/index.ts
  apps/youtube-worker/src/poller.ts
  bun.lockb
  modules/db/src/schema.ts
  modules/inference/src/client.ts
  modules/ticker-extractor/package.json
  modules/ticker-extractor/src/extractor.ts
  modules/ticker-extractor/src/index.ts
  modules/ticker-extractor/src/types.ts
  modules/ticker-extractor/tsconfig.json
Due: bun lint, bun format

feat(M3-5a): swap youtube-client from Data API to RSS feeds
  apps/youtube-worker/src/env.ts
  apps/youtube-worker/src/index.ts
  apps/youtube-worker/src/poller.test.ts
  apps/youtube-worker/src/poller.ts
  apps/youtube-worker/src/youtube-client.ts
Due: bun lint, bun format

feat(M3-6a): add OTel tracer spans to youtube-worker poller
  apps/youtube-worker/src/index.ts
  apps/youtube-worker/src/poller.test.ts
  apps/youtube-worker/src/poller.ts
Due: bun lint, bun format

fix(youtube-worker): replace DOMParser with regex-based Atom XML parsing
  apps/youtube-worker/src/youtube-client.ts
Due: bun lint, bun format

feat(M4-3): wire pipeline apps into docker-compose and seed sources
  config/compose/docker-compose.apps.yaml
  config/deploy/env-templates/dashboard.env
  config/deploy/env-templates/reddit-worker.env
  config/deploy/env-templates/signal-processor.env
  config/deploy/env-templates/youtube-worker.env
  modules/db/src/migrations/20260413000000_create_schema.sql
  modules/db/src/migrations/20260413000001_seed_sources.sql
Due: none

feat(M4-1): build apps/reddit-worker — cron poller for Reddit sources
  apps/reddit-worker/package.json
  apps/reddit-worker/src/cron.ts
  apps/reddit-worker/src/env.ts
  apps/reddit-worker/src/index.ts
  apps/reddit-worker/src/poller.test.ts
  apps/reddit-worker/src/poller.ts
  apps/reddit-worker/src/types.ts
  apps/reddit-worker/tsconfig.json
  bun.lockb
Due: bun lint, bun format

feat(M4-4): wire pipeline app builds into Drone CI + VPS prep
  .drone.yml
  DEPLOYMENT.md
  config/deploy/prepare-vps-for-cd.sh
Due: none

feat(M4-2): build apps/dashboard — trending ticker API + HTML view
  .drone.yml
  apps/dashboard/package.json
  apps/dashboard/src/env.ts
  apps/dashboard/src/index.ts
  apps/dashboard/src/trending.ts
  apps/dashboard/tsconfig.json
Due: bun lint, bun format

feat(M4-4): enable build-reddit-worker CI step now that src/index.ts exists
  .drone.yml
Due: none

fix(deploy): correct env templates — fix reddit-worker vars, add postgres/rabbitmq templates
  config/deploy/env-templates/postgres.env
  config/deploy/env-templates/rabbitmq.env
  config/deploy/env-templates/reddit-worker.env
Due: none

feat(signal-processor): switch inference provider to Claude Haiku, short-circuit handlers
  apps/signal-processor/src/env.ts
  apps/signal-processor/src/index.ts
  modules/ticker-extractor/src/types.ts
Due: bun lint, bun format

fix(ts): resolve all TypeScript errors
  apps/signal-processor/src/index.ts
  biome.json
  modules/inference/src/providers.ts
  modules/ticker-extractor/src/__tests__/extractor.test.ts
  modules/ticker-extractor/src/schema.ts
Due: bun lint, bun format

feat(dx): add typecheck to pre-commit via turbo
  .husky/pre-commit
  apps/dashboard/package.json
  apps/example/package.json
  apps/reddit-worker/package.json
  apps/signal-processor/package.json
  apps/youtube-worker/package.json
  modules/db/src/seed.ts
  modules/ticker-extractor/package.json
  tests/e2e/package.json
  turbo.json
Due: bun lint, bun format

refactor(ticker-extractor): migrate to AI SDK generateObject; misc fixes
  bun.lockb
  modules/db/src/client.ts
  modules/db/src/migrate.ts
  modules/db/src/migrations/20260413000001_seed_sources.sql
  modules/graph-db/src/client.ts
  modules/reddit-client/src/index.ts
  modules/reddit-client/src/reddit-api-client.ts
  modules/ticker-extractor/src/extractor.ts
  package.json
Due: bun lint, bun format

chore(infra): remove managed Ollama service, update compose files
  config/compose/local/process-compose.yml
  docker-compose.dev.yaml
  infra/inference-model/docker-compose.base.yaml
  infra/inference-model/docker-compose.yaml
  infra/inference-model/package.json
  infra/rabbitmq/Dockerfile
Due: bun format

docs: update CLAUDE.md/README, add ARCHITECTURE.md and docs/
  ARCHITECTURE.md
  CLAUDE.md
  DRAFTS.md
  README.md
  docs/paperclip-agents/README.md
  docs/paperclip-agents/advisor.md
  docs/paperclip-agents/backend-engineer.md
  docs/paperclip-agents/cto.md
  docs/paperclip-agents/devops-engineer.md
  docs/paperclip-agents/gm.md
  docs/paperclip-agents/principal-engineer.md
  docs/paperclip-state.md
Due: none

chore(deploy): remove one-time VPS bootstrap script
  config/deploy/prepare-vps-for-cd.sh
Due: none

chore(deps): regenerate bun lockfile [trigger-main-deploy]
  bun.lockb
  modules/events/src/consumer.ts
  modules/events/src/producer.ts
  modules/events/src/tracing-decorator.ts
  modules/events/src/utils.ts
  modules/inference/package.json
  modules/inference/src/providers.ts
  modules/logger/src/index.ts
  modules/reddit-client/src/reddit-api-client.ts
  tests/e2e/src/health.e2e.test.ts
Due: bun lint, bun format

fix(build): switch app bundle target to bun and remove example app
  .drone.yml
  ARCHITECTURE.md
  CLAUDE.md
  README.md
  apps/dashboard/package.json
  apps/example/.env.example
  apps/example/package.json
  apps/example/src/env.test.ts
  apps/example/src/env.ts
  apps/example/src/index.ts
  apps/example/tsconfig.json
  apps/reddit-worker/package.json
  apps/signal-processor/package.json
  apps/youtube-worker/package.json
  bun.lockb
  config/compose/docker-compose.apps.yaml
  config/compose/local/process-compose.yml
  docker-compose.dev.yaml
  docs/paperclip-agents/backend-engineer.md
  modules/tracing/README.md
Due: bun lint, bun format

docs(deploy): drop example app references from DEPLOYMENT.md
  DEPLOYMENT.md
Due: none

chore(deploy): update signal-processor env template for Anthropic
  config/deploy/env-templates/signal-processor.env
Due: none

ops(deploy): add --remove-orphans to apps compose step
  .drone.yml
Due: none

fix(deploy): include migrations in prod image and exempt /health from auth
  Dockerfile
  config/compose/docker-compose.apps.yaml
  modules/db/src/migrate.ts
Due: bun lint, bun format

fix(docker): copy migrations folder into production image
  Dockerfile
Due: none

fix(deploy): bump dashboard-health router priority above default
  config/compose/docker-compose.apps.yaml
Due: none

fix(events): set frameMax to 131072 for RabbitMQ 4.x compatibility
  modules/events/src/utils.ts
Due: bun lint, bun format

fix(ticker-extractor): normalise symbol case after invoke, not inside callable
  modules/events/src/consumer.ts
  modules/events/src/producer.ts
  modules/events/src/utils.ts
  modules/reddit-client/src/reddit-api-client.ts
  modules/ticker-extractor/src/extractor.ts
Due: bun lint, bun format

docs(changesets): document per-package semver and release-PR flow
  .changeset/README.md
  README.md
Due: none

docs(agents): add release manager role + release-PR workflow
  docs/paperclip-agents/README.md
  docs/paperclip-agents/cto.md
  docs/paperclip-agents/release-manager.md
Due: none

chore(changesets): drop stale logger bindings changeset — already shipped
  .changeset/stupid-singers-dance.md
Due: none

docs(agents): document changeset authoring and COMMIT_SHA injection
  docs/paperclip-agents/backend-engineer.md
  docs/paperclip-agents/devops-engineer.md
Due: none

feat(health): expose version and commit in apps
  apps/dashboard/src/index.ts
  apps/reddit-worker/src/index.ts
  apps/signal-processor/src/index.ts
  apps/youtube-worker/src/index.ts
Due: bun lint, bun format

chore(changesets): unignore @apps/* and @modules/*
  .changeset/config.json
Due: bun format

chore(changesets): seed release changeset for T10
  .changeset/health-version-commit.md
Due: none

ops(build): inject COMMIT_SHA into app containers
  .drone.yml
  Dockerfile
Due: none

chore(release): version bump 2026-04-20
  .changeset/health-version-commit.md
  apps/dashboard/CHANGELOG.md
  apps/dashboard/package.json
  apps/reddit-worker/CHANGELOG.md
  apps/reddit-worker/package.json
  apps/signal-processor/CHANGELOG.md
  apps/signal-processor/package.json
  apps/youtube-worker/CHANGELOG.md
  apps/youtube-worker/package.json
  bun.lockb
Due: bun format

Path conditions:
  bun lint: any of: *.{ts,js}
  bun format: (any of: *.{ts,js}) or (any of: *.json)
