Repository ShayGoldman/acovado.club: changes, and which lint-staged commands are due for each by the changed paths.
All: bun lint, bun format

.lintstagedrc:

{
  "*.{ts,js}": [
    "bun lint",
    "bun format"
  ],
  "*.json": [
    "bun format"
  ]
}

chore: update lockfile
  bun.lockb
Due: none

chore: add Contributing section to readme
  README.md
Due: none

chore(reset all db migrations): consolidate all db migrations to a single migration (mvp state)
  modules/db/src/migrations/20241202180738_yielding_colossus.sql
  modules/db/src/migrations/20241211234206_past_squadron_sinister.sql
  modules/db/src/migrations/20241212182533_brief_expediter.sql
  modules/db/src/migrations/20241216210535_zippy_dexter_bennett.sql
  modules/db/src/migrations/20241218162136_flimsy_toad.sql
  modules/db/src/migrations/20241218180448_pink_gwen_stacy.sql
  modules/db/src/migrations/20241218183946_silly_talos.sql
  modules/db/src/migrations/20250114191750_clever_silver_samurai.sql
  modules/db/src/migrations/meta/20241130192605_snapshot.json
  modules/db/src/migrations/meta/20241202180738_snapshot.json
  modules/db/src/migrations/meta/20241211234206_snapshot.json
  modules/db/src/migrations/meta/20241212182533_snapshot.json
  modules/db/src/migrations/meta/20241216210535_snapshot.json
  modules/db/src/migrations/meta/20241218180448_snapshot.json
  modules/db/src/migrations/meta/20241218183946_snapshot.json
  modules/db/src/migrations/meta/20250114191750_snapshot.json
  modules/db/src/migrations/meta/_journal.json
Due: bun format

chore(rename main schema): rename database schema to acovado
  modules/db/src/migrations/20250114193127_common_leader.sql
  modules/db/src/migrations/meta/20250114193127_snapshot.json
  modules/db/src/migrations/meta/_journal.json
Due: bun format

feat(db-migrations): db migration tool now requires a tracer instead of a logger
  apps/ana-liese/src/index.ts
  apps/bebe/src/index.ts
  apps/collection/src/index.ts
  modules/db/package.json
  modules/db/src/migrate.ts
  modules/db/src/schema.ts
Due: bun lint, bun format

chore: update lockfile
  .changeset/big-wolves-march.md
  bun.lockb
Due: none

chore: update CHANGELOG.md and version bumps [skip ci]
  .changeset/big-wolves-march.md
  apps/ana-liese/CHANGELOG.md
  apps/ana-liese/package.json
  apps/bebe/CHANGELOG.md
  apps/bebe/package.json
  apps/collection/CHANGELOG.md
  apps/collection/package.json
  changesets.json
  modules/db/CHANGELOG.md
  modules/db/package.json
  tests/simulation/CHANGELOG.md
  tests/simulation/package.json
Due: bun format

chore: tag versions when runnnig pipeline
  .drone.yml
Due: none

feat(logger): support log levels
  .changeset/polite-bulldogs-tell.md
  modules/logger/src/index.ts
Due: bun lint, bun format

feat(db): require tracer instead of logger
  .changeset/little-tomatoes-rule.md
  apps/ana-liese/src/db.ts
  apps/ana-liese/src/index.ts
  apps/bebe/src/db.ts
  apps/bebe/src/index.ts
  apps/collection/src/db.ts
  apps/collection/src/index.ts
  modules/db/src/client.ts
  modules/db/src/migrate.ts
Due: bun lint, bun format

feat(bebe): use parent span for collection created events
  .changeset/unlucky-mice-fail.md
  apps/bebe/src/collection/watch-list-collection.service.ts
  modules/events/src/tracing-decorator.ts
Due: bun lint, bun format

style(readme): added changelog links
  README.md
Due: none

chore: update CHANGELOG.md and version bumps [skip ci]
  .changeset/little-tomatoes-rule.md
  .changeset/polite-bulldogs-tell.md
  .changeset/unlucky-mice-fail.md
  apps/ana-liese/CHANGELOG.md
  apps/ana-liese/package.json
  apps/bebe/CHANGELOG.md
  apps/bebe/package.json
  apps/collection/CHANGELOG.md
  apps/collection/package.json
  changesets.json
  modules/db/CHANGELOG.md
  modules/db/package.json
  modules/events/CHANGELOG.md
  modules/events/package.json
  modules/logger/CHANGELOG.md
  modules/logger/package.json
  modules/tracing/CHANGELOG.md
  modules/tracing/package.json
  tests/simulation/CHANGELOG.md
  tests/simulation/package.json
Due: bun format

ci: add releases from tags
  .drone.yml
Due: none

feat(logger): add bindings for logger opts
  .changeset/stupid-singers-dance.md
  modules/logger/src/index.ts
Due: bun lint, bun format

ci: attempt to fix release-versions step
  .drone.yml
Due: none

feat: replace grafana with signoz 💪
  config/compose/docker-compose.infra.yaml
  infra/observability/.gitignore
  infra/observability/README.md
  infra/observability/clickhouse/cluster.xml
  infra/observability/clickhouse/config.xml
  infra/observability/clickhouse/custom-function.xml
  infra/observability/clickhouse/users.xml
  infra/observability/docker-compose.base.yaml
  infra/observability/docker-compose.yaml
  infra/observability/otel-collector-signoz-config.yaml
  infra/observability/package.json
  infra/observability/signoz/otel-collector-opamp-config.yaml
  infra/observability/signoz/prometheus.yml
Due: bun format

feat: add FalkorDB service and client module with Redis integration
  config/compose/docker-compose.infra.yaml
  infra/falkordb/docker-compose.base.yaml
  infra/falkordb/docker-compose.yaml
  infra/falkordb/package.json
  infra/tracing/.gitignore
  infra/tracing/docker-compose.base.yaml
  infra/tracing/docker-compose.yaml
  infra/tracing/grafana-datasources.yaml
  infra/tracing/otel-collector-config.yaml
  infra/tracing/package.json
  infra/tracing/prometheus.yaml
  infra/tracing/tempo.yaml
  modules/graph-db/package.json
  modules/graph-db/src/client.ts
  modules/graph-db/src/env.ts
  modules/graph-db/src/index.ts
  modules/graph-db/src/types.ts
  modules/graph-db/tsconfig.json
Due: bun lint, bun format

chore: add cursor rules
  .cursor/rules/code-style.mdc
  .cursor/rules/use-bun-instead-of-node-vite-npm-pnpm.mdc
Due: none

feat: add inference model and POC for threads processing
  .DS_Store
  .cursor/rules/code-style.mdc
  .vscode/launch.json
  apps/ana-liese/package.json
  apps/bebe/package.json
  apps/bebe/src/index.ts
  apps/collection/package.json
  apps/reddit-processor/.env
  apps/reddit-processor/package.json
  apps/reddit-processor/src/env.ts
  apps/reddit-processor/src/index.ts
  apps/reddit-processor/src/inference/ticker-extractor.service.ts
  apps/reddit-processor/src/processing/thread-handler.service.ts
  apps/reddit-scraper/package.json
  apps/reddit-scraper/src/scraping/reddit-client.ts
  apps/reddit-scraper/src/scraping/thread-fetcher.service.ts
  bun.lockb
  config/compose/docker-compose.infra.yaml
  infra/inference-model/docker-compose.base.yaml
  infra/inference-model/docker-compose.yaml
  infra/inference-model/package.json
  infra/observability/package.json
Due: bun lint, bun format

refactor: rename RedditPost to RedditThread and update related functions for clarity
  apps/reddit-scraper/src/scraping/reddit-client.ts
  apps/reddit-scraper/src/scraping/thread-fetcher.service.ts
Due: bun lint, bun format

feat: implement reply processing + consumer throttling
  apps/reddit-processor/.env
  apps/reddit-processor/package.json
  apps/reddit-processor/src/index.ts
  apps/reddit-processor/src/inference/ticker-extractor.service.ts
  apps/reddit-processor/src/processing/reply-context.service.ts
  apps/reddit-processor/src/processing/reply-handler.service.ts
  apps/reddit-processor/src/processing/thread-handler.service.ts
Due: bun lint, bun format

feat: integrate reply processing + events consumer throttling
  .cursor/rules/code-style.mdc
  apps/reddit-scraper/src/index.ts
  apps/reddit-scraper/src/scraping/reddit-client.ts
  apps/reddit-scraper/src/scraping/reply-fetcher.service.ts
  apps/reddit-scraper/src/scraping/thread-fetcher.service.ts
  bun.lockb
  modules/db/package.json
  modules/db/src/migrations/20251218150240_thankful_matthew_murdock.sql
  modules/db/src/migrations/meta/20251218150240_snapshot.json
  modules/db/src/migrations/meta/_journal.json
  modules/db/src/models/index.ts
  modules/db/src/models/reddit-reply.ts
  modules/db/src/models/reddit-thread.ts
  modules/db/src/schema.ts
  modules/events/src/consumer.ts
  modules/graph-db/src/client.ts
Due: bun lint, bun format

feat: enhance tracing module with OTLP log export
  apps/reddit-processor/src/processing/tracked-subreddit-discovery.service.ts
  bun.lockb
  modules/tracing/README.md
  modules/tracing/package.json
  modules/tracing/src/logger.ts
  modules/tracing/src/tracer.ts
  modules/tracing/src/types.ts
Due: bun lint, bun format

feat: add reddit API request handling, and response processing
  apps/reddit-api-worker/.env
  apps/reddit-api-worker/package.json
  apps/reddit-api-worker/src/env.ts
  apps/reddit-api-worker/src/index.ts
  apps/reddit-api-worker/src/rate-limit-handler.ts
  apps/reddit-api-worker/src/types.ts
  apps/reddit-api-worker/src/worker.ts
  apps/reddit-api-worker/tsconfig.json
  apps/reddit-processor/src/index.ts
  apps/reddit-processor/src/inference/ticker-extractor.service.ts
  apps/reddit-processor/src/processing/reply-handler.service.ts
  apps/reddit-processor/src/processing/thread-handler.service.ts
  apps/reddit-processor/src/processing/tracked-subreddit-candidate-handler.service.ts
  apps/reddit-scraper/src/index.ts
  apps/reddit-scraper/src/scraping/reply-fetcher.service.ts
  apps/reddit-scraper/src/scraping/thread-fetcher.service.ts
  bun.lockb
  config/compose/docker-compose.infra.yaml
  infra/inference-model/docker-compose.yaml
  infra/inference-model/package.json
  infra/rabbitmq/Dockerfile
  infra/rabbitmq/docker-compose.base.yaml
  infra/rabbitmq/docker-compose.yaml
  infra/rabbitmq/enabled_plugins
  infra/rabbitmq/init-plugins.sh
  modules/events/src/index.ts
  modules/events/src/tracing-decorator.ts
  modules/graph-db/src/client.ts
  modules/graph-db/src/types.ts
  modules/reddit-client/package.json
  modules/reddit-client/src/index.ts
  modules/reddit-client/src/reddit-api-client.ts
  modules/reddit-client/src/reddit-api-response-handler.ts
  modules/reddit-client/src/reddit-api-types.ts
  modules/tracing/src/tracer.ts
  modules/tracing/src/types.ts
Due: bun lint, bun format

fix: debug watch mode using VSCode
  .vscode/launch.json
Due: bun format

chore: upgrade model to gemma3:12b-it-qat
  apps/reddit-processor/src/inference/ticker-extractor.service.ts
  apps/reddit-processor/src/processing/tracked-subreddit-candidate-handler.service.ts
  config/compose/docker-compose.infra.yaml
  infra/inference-model/docker-compose.yaml
  infra/inference-model/package.json
Due: bun lint, bun format

chore(observability): unify SigNoz OTLP config and Docker log rotation
  README.md
  apps/ana-liese/.env
  apps/bebe/.env
  apps/collection/.env
  apps/reddit-api-worker/.env
  apps/reddit-processor/.env
  apps/reddit-scraper/.env
  config/compose/docker-compose.apps.yaml
  config/compose/docker-compose.clients.yaml
  config/compose/docker-compose.infra.yaml
  infra/observability/README.md
  infra/observability/docker-compose.base.yaml
  infra/observability/docker-compose.yaml
  modules/tracing/README.md
  tests/stock-events-simulation/.env
Due: none

chore(infra): remove Metabase client and clients compose stack
  .drone.yml
  bun.lockb
  clients/zook/.env
  clients/zook/docker-compose.yaml
  clients/zook/package.json
  config/compose/docker-compose.clients.yaml
Due: bun format

docs(observability): align OTLP ports and document Signoz + Prometheus
  README.md
  apps/example/.env.example
  infra/observability/.gitignore
  infra/observability/README.md
Due: none

feat(tracing): add shutdown, sampling, and deployment resource attrs
  apps/example/src/index.ts
  modules/logger/src/index.ts
  modules/tracing/README.md
  modules/tracing/src/tracer.ts
  modules/tracing/src/types.ts
  tests/stock-events-simulation/src/simulation.ts
Due: bun lint, bun format

chore(db): drop unused metabase schema migration
  README.md
  modules/db/src/migrations/20260411143549_massive_killraven.sql
  modules/db/src/migrations/meta/20260411143549_snapshot.json
  modules/db/src/migrations/meta/_journal.json
  modules/db/src/schema.ts
Due: bun lint, bun format

docs: refresh READMEs for CI/CD, modules, and local infra
  .changeset/README.md
  README.md
  infra/observability/README.md
  modules/events/README.md
  modules/tracing/README.md
Due: none

fix(ci): run deploy compose from repo root and add VPS prep script
  .drone.yml
  config/deploy/prepare-vps-for-cd.sh
Due: none

docs: add DEPLOYMENT.md for Drone CI/CD and VPS flow
  DEPLOYMENT.md
Due: none

ci: add [trigger-main-deploy] escape hatch for direct main pushes
  .drone.yml
  DEPLOYMENT.md
Due: none

chore(observability): bump SigNoz stack to v0.117.1 and fix ZooKeeper image
  config/compose/docker-compose.infra.yaml
  infra/observability/README.md
  infra/observability/docker-compose.base.yaml
  infra/observability/docker-compose.yaml
Due: none
