Repository ShayGoldman/acovado.club: changes, and which lint-staged commands are due for each by the changed paths.
All: bun lint, bun format

.lintstagedrc:

{
  "*.{ts,js}": [
    "bun lint",
    "bun format"
  ],
  "*.json": [
    "bun format"
  ]
}

chore(versioning): seed 0.1.0 across apps and modules
  apps/dashboard/package.json
  apps/reddit-worker/package.json
  apps/signal-processor/package.json
  apps/youtube-worker/package.json
  bun.lockb
  modules/db/package.json
  modules/events/package.json
  modules/graph-db/package.json
  modules/ids/package.json
  modules/inference/package.json
  modules/logger/package.json
  modules/reddit-client/package.json
  modules/ticker-extractor/package.json
  modules/tracing/package.json
  modules/types/package.json
Due: bun format

fix(events): pass frameMax via URL query string for RabbitMQ 4.x
  modules/events/src/utils.ts
Due: bun lint, bun format

ops(dockerfile): add build-time guard for migrations journal
  Dockerfile
Due: none

feat(news-worker): scaffold app + Playwright in Docker image (M1)
  .changeset/news-worker-scaffolding.md
  .drone.yml
  Dockerfile
  apps/news-worker/CHANGELOG.md
  apps/news-worker/package.json
  apps/news-worker/src/env.ts
  apps/news-worker/src/index.ts
  apps/news-worker/src/smoke.ts
  apps/news-worker/tsconfig.json
  bun.lockb
  config/compose/docker-compose.apps.yaml
Due: bun lint, bun format

ops(traefik): disable readTimeout to fix registry push 504s
  config/vps/traefik.yaml
Due: none

feat(news-worker): m2 news discovery + seen-URL store
  apps/news-worker/package.json
  apps/news-worker/src/cron.ts
  apps/news-worker/src/discovery.test.ts
  apps/news-worker/src/discovery.ts
  apps/news-worker/src/env.ts
  apps/news-worker/src/index.ts
  apps/news-worker/src/normalize-url.test.ts
  apps/news-worker/src/normalize-url.ts
  modules/db/src/migrations/20260421000000_m2_news_discovery.sql
  modules/db/src/schema.ts
Due: bun lint, bun format

ops(drone): serialize builds + drop redundant node_modules copy (ACO-79)
  .drone.yml
  Dockerfile
Due: none

fix(infra): fix postgres healthcheck role storm + add news-worker env template
  config/deploy/env-templates/news-worker.env
  infra/postgres/docker-compose.base.yaml
Due: none

fix(events): update Connection → ChannelModel for @types/amqplib@0.10.8
  .drone.yml
  bun.lockb
  modules/events/src/consumer.ts
  modules/events/src/producer.ts
  modules/events/src/utils.ts
  modules/reddit-client/src/reddit-api-client.ts
Due: bun lint, bun format

ops(drone): replace blunt prune with targeted image retention (ACO-92)
  .drone.yml
Due: none

docs(agents): add pre-merge snapshot anchor for ACO-91
  docs/paperclip-agents/SNAPSHOT-aco-91.md
Due: none

ci(infra): add observability profile to SigNoz services to prevent CI auto-restart
  config/compose/docker-compose.infra.yaml
Due: none

docs(agents): add stitch/sync tooling and shared policy block for agent bundles
  .gitignore
  docs/paperclip-agents/advisor.md
  docs/paperclip-agents/agents.json
  docs/paperclip-agents/backend-engineer.md
  docs/paperclip-agents/cto.md
  docs/paperclip-agents/devops-engineer.md
  docs/paperclip-agents/gm.md
  docs/paperclip-agents/principal-engineer.md
  docs/paperclip-agents/release-manager.md
  docs/paperclip-agents/scripts/stitch.ts
  docs/paperclip-agents/scripts/sync.ts
  docs/paperclip-agents/shared/policy-blocks.md
  package.json
Due: bun lint, bun format

docs(agents): migrate all 9 roles to header/body/AGENTS.md layout
  docs/paperclip-agents/README.md
  docs/paperclip-agents/advisor/AGENTS.md
  docs/paperclip-agents/advisor/advisor-body.md
  docs/paperclip-agents/advisor/advisor-header.md
  docs/paperclip-agents/backend-engineer/AGENTS.md
  docs/paperclip-agents/backend-engineer/backend-engineer-body.md
  docs/paperclip-agents/backend-engineer/backend-engineer-header.md
  docs/paperclip-agents/cto/AGENTS.md
  docs/paperclip-agents/cto/cto-body.md
  docs/paperclip-agents/cto/cto-header.md
  docs/paperclip-agents/devops-engineer/AGENTS.md
  docs/paperclip-agents/devops-engineer/devops-engineer-body.md
  docs/paperclip-agents/devops-engineer/devops-engineer-header.md
  docs/paperclip-agents/gm/AGENTS.md
  docs/paperclip-agents/gm/gm-body.md
  docs/paperclip-agents/gm/gm-header.md
  docs/paperclip-agents/principal-engineer/AGENTS.md
  docs/paperclip-agents/principal-engineer/principal-engineer-body.md
  docs/paperclip-agents/principal-engineer/principal-engineer-header.md
  docs/paperclip-agents/product-manager/AGENTS.md
  docs/paperclip-agents/product-manager/product-manager-body.md
  docs/paperclip-agents/product-manager/product-manager-header.md
  docs/paperclip-agents/project-manager/AGENTS.md
  docs/paperclip-agents/project-manager/project-manager-body.md
  docs/paperclip-agents/project-manager/project-manager-header.md
  docs/paperclip-agents/release-manager/AGENTS.md
  docs/paperclip-agents/release-manager/release-manager-body.md
  docs/paperclip-agents/release-manager/release-manager-header.md
Due: none

docs(agents): fail stitch when a role is missing a header or body fragment
  docs/paperclip-agents/scripts/stitch.ts
Due: bun lint, bun format

fix(drone): push SHA tag before tagging and pushing latest (ACO-79)
  .drone.yml
Due: none

feat(news-worker): add m3 article fetcher, body extractor, and acceptance gate (ACO-76)
  apps/news-worker/.gitignore
  apps/news-worker/package.json
  apps/news-worker/scripts/news-fetch-gate.ts
  apps/news-worker/src/article-fetcher.test.ts
  apps/news-worker/src/article-fetcher.ts
  apps/news-worker/src/body-extractor.ts
  apps/news-worker/src/env.ts
  apps/news-worker/src/index.ts
  bun.lockb
  modules/db/src/migrations/20260422000000_m3_news_articles.sql
  modules/db/src/schema.ts
  modules/events/src/consumer.ts
  modules/events/src/producer.ts
  modules/events/src/utils.ts
  modules/reddit-client/src/reddit-api-client.ts
Due: bun lint, bun format

fix(news-worker): replace raw SQL INSERTs with drizzle sql tagged templates
  apps/news-worker/src/article-fetcher.test.ts
  apps/news-worker/src/article-fetcher.ts
Due: bun lint, bun format

fix(news-worker): apply ACO-76 §12 v1 source corrections
  apps/news-worker/src/article-fetcher.test.ts
  apps/news-worker/src/article-fetcher.ts
  apps/news-worker/src/discovery.test.ts
  apps/news-worker/src/discovery.ts
  modules/db/src/migrations/20260422010000_m2_seed_correction.sql
Due: bun lint, bun format

fix(news-worker): address §12a/b/c gotchas from Principal review (ACO-76)
  apps/news-worker/src/article-fetcher.test.ts
  apps/news-worker/src/article-fetcher.ts
  apps/news-worker/src/discovery.test.ts
  apps/news-worker/src/discovery.ts
  modules/db/src/migrations/20260422010000_m2_seed_correction.sql
Due: bun lint, bun format

fix(news-worker): replace COUNT(DISTINCT) OVER() with two-CTE approach (ACO-95)
  apps/news-worker/src/article-fetcher.test.ts
  apps/news-worker/src/article-fetcher.ts
Due: bun lint, bun format

test(news-worker): expand §12b smoke to cover mix-fetched + fully-fetched-excluded cases
  apps/news-worker/src/article-fetcher.test.ts
Due: bun lint, bun format

feat(news-worker): js-aware seed wait + §12c allowlist for M3.1 re-qualification (ACO-98)
  apps/news-worker/src/discovery.test.ts
  apps/news-worker/src/discovery.ts
Due: bun lint, bun format

feat(news-worker): content-item event publish and signal-processor news handler (ACO-77)
  apps/news-worker/src/article-fetcher.test.ts
  apps/news-worker/src/article-fetcher.ts
  apps/news-worker/src/index.ts
  apps/signal-processor/src/index.ts
  apps/signal-processor/src/news-handler.ts
  apps/signal-processor/src/news-types.ts
Due: bun lint, bun format

test(news-worker): fix producer.send success-branch coverage gap (ACO-77)
  apps/news-worker/src/article-fetcher.test.ts
Due: bun lint, bun format

infra(observability): reduce memory limits to fix OOM kills (ACO-100)
  config/compose/docker-compose.infra.yaml
  infra/observability/clickhouse/config.xml
Due: none

fix(signal-processor): redact unbounded payload from error logs (ACO-106)
  apps/signal-processor/src/handler.test.ts
  apps/signal-processor/src/handler.ts
  apps/signal-processor/src/news-handler.test.ts
  apps/signal-processor/src/news-handler.ts
  apps/signal-processor/src/youtube-handler.test.ts
  apps/signal-processor/src/youtube-handler.ts
Due: bun lint, bun format

fix(events): bound error fields in tracing-decorator consumer and producer catch paths (ACO-106)
  modules/events/src/tracing-decorator.test.ts
  modules/events/src/tracing-decorator.ts
Due: bun lint, bun format

chore(infra): cap all container logs at 100m/3 files (ACO-107)
  config/compose/docker-compose.apps.yaml
  config/compose/docker-compose.infra.yaml
  infra/observability/docker-compose.base.yaml
Due: none

feat(logger): replace stdSerializers.errWithCause with bounded serializer (ACO-108)
  modules/logger/package.json
  modules/logger/src/index.test.ts
  modules/logger/src/index.ts
Due: bun lint, bun format

fix(logger): cast err through unknown to satisfy TS2352
  modules/logger/src/index.ts
Due: bun lint, bun format

feat(infra): add registry-prune.sh one-time cleanup script (ACO-111)
  .gitignore
  infra/scripts/registry-prune.sh
Due: none

fix(docker): reorder production stage so playwright layer caches across commits
  Dockerfile
Due: none

ci: retry cold-cache build — fix test metadata + raise repo_timeout [trigger-main-deploy]
  apps/signal-processor/src/handler.test.ts
  apps/signal-processor/src/news-handler.test.ts
  apps/signal-processor/src/youtube-handler.test.ts
Due: bun lint, bun format

fix(inference): redact error log payload to prevent article-body leak
  modules/inference/package.json
  modules/inference/src/client.test.ts
  modules/inference/src/client.ts
Due: bun lint, bun format

chore(ci): track drone compose in repo (post-ACO-109)
  infra/ci/docker-compose.yaml
Due: none

docs(runbook): add ACO-126 VPS disk cleanup plan and rollback
  docs/runbooks/aco-126-vps-disk-cleanup.md
Due: none

docs: add v3 handoff snapshot of repo state
  docs/HANDOFF-v3.md
Due: none
