Repository ShayGoldman/acovado.club: changes, and which lint-staged commands are due for each by the changed paths.
All: bun lint, bun format

.lintstagedrc:

{
  "*.{ts,js}": [
    "bun lint",
    "bun format"
  ],
  "*.json": [
    "bun format"
  ]
}

fix(ci): repair release-versions image; cap inference-model CPUs on 2-core VPS [trigger-main-deploy]
  .drone.yml
  config/compose/docker-compose.infra.yaml
Due: none

fix(compose): add zookeeper-1 network alias for ClickHouse cluster.xml
  config/compose/docker-compose.infra.yaml
Due: none

chore(infra): drop Ollama inference-model from prod compose
  DEPLOYMENT.md
  README.md
  config/compose/docker-compose.infra.yaml
  config/deploy/prepare-vps-for-cd.sh
Due: none

fix(ci): make release-versions use Bun workspace deps and GitHub push auth
  .drone.yml
  bun.lockb
  package.json
Due: bun format

chore: remove dead local-env stub and duplicate subreddit model
  local-env.ts
  modules/db/src/models/subreddit.ts
Due: bun lint, bun format

fix(ci): make release-versions compatible with dash /bin/sh
  .drone.yml
Due: none

feat: resolve workspace modules at runtime in docker images
  .drone.yml
  DEPLOYMENT.md
  Dockerfile
  README.md
  apps/example/package.json
  turbo.json
Due: bun format

docs: map existing codebase
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
Due: none

build: bundle example app in docker and copy node_modules [trigger-main-deploy]
  .gitignore
  Dockerfile
Due: none

docs: initialize project
  .planning/PROJECT.md
Due: none

chore: add project config
  .planning/config.json
Due: bun format

fix(ci): escape shell vars in release-versions for drone substitution
  .drone.yml
Due: none

docs: create roadmap (1 phase)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  CLAUDE.md
Due: none

docs(01): capture phase context (discuss mode)
  .planning/phases/01-cleanup/01-CONTEXT.md
  .planning/phases/01-cleanup/01-DISCUSSION-LOG.md
Due: none

docs(state): record phase 1 context session
  .planning/STATE.md
Due: none

ci: disable release-versions until github auth is fixed [trigger-main-deploy]
  .drone.yml
Due: none

docs(01): create phase 1 cleanup plans
  .planning/ROADMAP.md
  .planning/phases/01-cleanup/01-01-PLAN.md
  .planning/phases/01-cleanup/01-02-PLAN.md
Due: none

feat(01-01): delete models/ and migrations/ directories
  .planning/ROADMAP.md
  .planning/phases/01-cleanup/01-01-PLAN.md
  .planning/phases/01-cleanup/01-02-PLAN.md
  modules/db/src/migrations/20251222132457_luxuriant_sunset_bain.sql
  modules/db/src/migrations/20251222215833_glorious_black_tarantula.sql
  modules/db/src/migrations/20251223082353_sparkling_leper_queen.sql
  modules/db/src/migrations/20260411143549_massive_killraven.sql
  modules/db/src/migrations/meta/20251222132457_snapshot.json
  modules/db/src/migrations/meta/20251222215833_snapshot.json
  modules/db/src/migrations/meta/20251223082353_snapshot.json
  modules/db/src/migrations/meta/20260411143549_snapshot.json
  modules/db/src/migrations/meta/_journal.json
  modules/db/src/models/collection.ts
  modules/db/src/models/grading-log.ts
  modules/db/src/models/index.ts
  modules/db/src/models/inference-log.ts
  modules/db/src/models/reddit-reply.ts
  modules/db/src/models/reddit-thread.ts
  modules/db/src/models/signal-metric.ts
  modules/db/src/models/story.ts
  modules/db/src/models/ticker.ts
  modules/db/src/models/tracked-subreddit.ts
  modules/db/src/models/watch-list-to-ticker.ts
  modules/db/src/models/watch-list.ts
Due: bun lint, bun format

feat(01-01): clear schema.ts, empty seed.ts, remove models export from index.ts
  modules/db/src/index.ts
  modules/db/src/schema.ts
  modules/db/src/seed.ts
Due: bun lint, bun format

docs(01-01): complete db clean-slate plan
  .planning/phases/01-cleanup/01-01-SUMMARY.md
Due: none

fix(01): restore 01-02-PLAN.md accidentally deleted by 01-01 executor
  .planning/phases/01-cleanup/01-02-PLAN.md
Due: none

fix(01-02): await producer.send and replace E2E stub with test.todo
  tests/e2e/src/health.e2e.test.ts
  tests/stock-events-simulation/src/simulation.ts
Due: bun lint, bun format

docs(01-02): complete point-fixes plan summary
  .planning/phases/01-cleanup/01-02-SUMMARY.md
Due: none

docs(01): update roadmap with phase 1 completion and plan progress
  .planning/ROADMAP.md
Due: none

chore: updated .gitignore
  .gitignore
Due: none

docs(01): add code review report
  .planning/phases/01-cleanup/01-REVIEW.md
Due: none

docs(01): add phase verification report
  .planning/phases/01-cleanup/01-VERIFICATION.md
Due: none

chore: remove stock-events-simulation — no longer needed after schema cleanup
  tests/stock-events-simulation/.env
  tests/stock-events-simulation/package.json
  tests/stock-events-simulation/src/config.ts
  tests/stock-events-simulation/src/db.ts
  tests/stock-events-simulation/src/index.ts
  tests/stock-events-simulation/src/prompts.ts
  tests/stock-events-simulation/src/schemas.ts
  tests/stock-events-simulation/src/simulation.ts
  tests/stock-events-simulation/src/validation.ts
  tests/stock-events-simulation/tsconfig.json
Due: bun lint, bun format

docs(01): mark verification passed after simulation removal
  .planning/phases/01-cleanup/01-VERIFICATION.md
Due: none

chore: remove .planning from git tracking
  .gitignore
  .planning/PROJECT.md
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
  .planning/config.json
  .planning/phases/01-cleanup/01-01-SUMMARY.md
  .planning/phases/01-cleanup/01-02-PLAN.md
  .planning/phases/01-cleanup/01-02-SUMMARY.md
  .planning/phases/01-cleanup/01-CONTEXT.md
  .planning/phases/01-cleanup/01-DISCUSSION-LOG.md
  .planning/phases/01-cleanup/01-REVIEW.md
  .planning/phases/01-cleanup/01-VERIFICATION.md
Due: bun format

feat: milestone 1 — foundation schema, inference providers, ticker extractor
  bun.lockb
  modules/db/src/migrations/001-create-foundation-tables.sql
  modules/db/src/migrations/002-seed-tickers.sql
  modules/db/src/migrations/002-seed-tickers.ts
  modules/db/src/schema.ts
  modules/inference/src/index.ts
  modules/inference/src/providers.ts
  modules/ticker-extractor/package.json
  modules/ticker-extractor/src/__tests__/extract-tickers.test.ts
  modules/ticker-extractor/src/extractor.ts
  modules/ticker-extractor/src/index.ts
  modules/ticker-extractor/src/types.ts
  modules/ticker-extractor/tsconfig.json
Due: bun lint, bun format

Revert "feat: milestone 1 — foundation schema, inference providers, ticker extractor"
  bun.lockb
  modules/db/src/migrations/001-create-foundation-tables.sql
  modules/db/src/migrations/002-seed-tickers.sql
  modules/db/src/migrations/002-seed-tickers.ts
  modules/db/src/schema.ts
  modules/inference/package.json
  modules/inference/src/index.ts
  modules/inference/src/providers.ts
  modules/ticker-extractor/package.json
  modules/ticker-extractor/src/__tests__/extract-tickers.test.ts
  modules/ticker-extractor/src/extractor.ts
  modules/ticker-extractor/src/index.ts
  modules/ticker-extractor/src/types.ts
  modules/ticker-extractor/tsconfig.json
Due: bun lint, bun format

feat: add docker-compose.dev.yaml for local developer stack
  docker-compose.dev.yaml
Due: none

feat(db): drizzle-kit generated migration + schema + sec edgar seed
  modules/db/src/migrations/20260412114153_nifty_wendigo.sql
  modules/db/src/migrations/meta/20260412114153_snapshot.json
  modules/db/src/migrations/meta/_journal.json
  modules/db/src/schema.ts
  modules/db/src/seed.ts
Due: bun lint, bun format

feat(milestone-1): inference providers + ticker extractor module
  bun.lockb
  modules/inference/src/index.ts
  modules/inference/src/providers.ts
  modules/ticker-extractor/package.json
  modules/ticker-extractor/src/__tests__/extractor.test.ts
  modules/ticker-extractor/src/extractor.ts
  modules/ticker-extractor/src/index.ts
  modules/ticker-extractor/src/prompt.ts
  modules/ticker-extractor/src/schema.ts
  modules/ticker-extractor/src/types.ts
  modules/ticker-extractor/tsconfig.json
Due: bun lint, bun format

fix(m2-day12): dedup + run-lock validation fixes
  bun.lockb
  modules/db/src/migrations/20260412114153_nifty_wendigo.sql
  modules/inference/package.json
  modules/inference/src/providers.ts
  modules/ticker-extractor/src/schema.ts
Due: bun lint, bun format

feat(tracing): add OTel spans to reddit-worker and signal-processor (ACO-14)
  apps/reddit-worker/src/index.ts
  apps/reddit-worker/src/poller.ts
  apps/signal-processor/src/handler.ts
  apps/signal-processor/src/index.ts
Due: bun lint, bun format
